
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Helpers
    function isAuth() {
      return request.auth != null;
    }
    
    function isUser(userId) {
      return isAuth() && request.auth.uid == userId;
    }

    function isAdmin() {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid))
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    function isOfficer() {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid))
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.officerType in ['Quarter Officer', 'Guest House Officer'];
    }

    function isGovernmentUser() {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid))
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.userType == 'government';
    }
    
    match /users/{userId} {
      allow read: if isAuth() && (isAdmin() || isUser(userId) || isOfficer());
      allow create: if isAuth() && (isAdmin() || isUser(userId));
      allow update: if isAuth() && (isAdmin() || isUser(userId));
      allow delete: if isAdmin();
    }

    match /guesthouses/{guestHouseId} {
      allow read: if true;
      allow create, update, delete: if isAuth() && isOfficer() && request.resource.data.location == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.location;
    }

    match /quarters/{quarterId} {
      allow read: if true;
      allow create, update, delete: if isAuth() && isOfficer() && request.resource.data.location == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.location;
    }
    
    match /applications/{applicationId} {
      allow read: if isAuth() && (isUser(resource.data.userId) || isOfficer());
      allow create: if isAuth();
      allow update, delete: if isAuth() && isOfficer();
    }

    match /counters/officerCounter {
      allow read, write: if isAuth() && isAdmin();
    }
    
    match /notifications/{notificationId} {
      allow read: if isAuth() && isUser(resource.data.userId);
      allow create: if isAuth() && (isOfficer() || isAdmin());
    }
  }
}
